* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    /* flex-grow: 1; */

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #43F4F7;
}

.drumkit-container {
    max-width: 581.1px;
    margin: 0 auto;

    position: relative;

    border: 1px solid black;
}

.drumkit {
    width: 100%;
}

.hihat {
    width: 28.41%;

    position: absolute;
    top: 30.44%;
    left: 63.33%;
}