/*TO DO: extract percentage numbers into variables and calculate width with calc()*/
:root {

    /*Font sizes*/
    --fs-900: 1.802rem;
    --fs-800: 1.602rem;
    --fs-700: 1.424rem;
    --fs-600: 1.266rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.889rem;
    --fs-200: 0.79rem;
    --fs-100: 0.702rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #43F4F7;
}



.main__drumkit {
    max-width: 581.1px;
    margin: 0 auto;

    border: 1px solid black;
}

.drumkit__wrapper {
    position: relative;
}

.drumkit__set {
    width: 100%;
    vertical-align: middle;
}

.drumkit__hihat {
    width: 28.41%;

    position: absolute;
    top: 30.44%;
    left: 63.33%;
}

.drumkit__crash {
    width: 29.98%;

    position: absolute;
    top: 20.61%;
    left: 9.46%;
}

.drumkit__crash--init-pos {
    transform: rotate(352.2deg);
}



.button {
    width: 5.71%;
    height: 6.85%;
    background-color: #eaeaea;

    border: 2px solid #aaa;
    border-radius: 4px;
    color: #444;
    font-family: monospace;
    font-size: var(--fs-800);
    line-height: 100%;
}

.button--shadow {
    box-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 65%);
}

.drumkit__button {
    position: absolute;
}

.drumkit__button-crash {
    top: 16.5%;
    left: 14%;
}

.drumkit__button-ride {
    top: 16.5%;
    left: 29%;
}

.drumkit__button-hihat-open {
    top: 27.5%;
    left: 67%;
}

.drumkit__button-hihat-closed {
    top: 27.5%;
    left: 82.5%;
}

.drumkit__button-floor-tom {
    top: 61.5%;
    left: 24.5%;
}

.drumkit__button-mid-tom {
    top: 43.5%;
    left: 37.5%;
}

.drumkit__button-high-tom {
    top: 46.5%;
    left: 55.5%;
}

.drumkit__button-snare {
    top: 54%;
    left: 70%;
}

.drumkit__button-left-kick {
    top: 65%;
    left: 45%;
}

.drumkit__button-right-kick {
    top: 65%;
    left: 52%;
}




@media (max-width: 500px) {
    .button {
        font-size: var(--fs-700);
    }
}

@media (max-width: 450px) {
    .button {
        font-size: var(--fs-600);
    }
}

@media (max-width: 400px) {
    .button {
        font-size: var(--fs-500);
    }
}

@media (max-width: 370px) {
    .button {
        font-size: var(--fs-400);
    }
}

@media (max-width: 350px) {
    .button {
        font-size: var(--fs-300);
    }
}

@media (max-width: 320px) {
    .button {
        font-size: var(--fs-200);
    }
}

@media (max-width: 290px) {
    .button {
        font-size: var(--fs-100);
    }
}

@media (max-width: 250px) {
    .drumkit__button {
        display: none;
    }
}

.drumkit__button {
    margin-right: 0px;
    transition: transform 0.1s ease-in;
}

.drumkit__button--active {
    transform: scale(1.2);
    /* transform: rotate(30deg); */
    /* margin-right: 10px; */
}